# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Env/secrets
.env
.env.*
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
.next/
dist/
build/

# Expo / React Native
.expo/

# Mac
.DS_Store

# Logs
*.log
